<div class="ms-1">
    <main>
        <section>
            {{> title data='Bio' big=true}}
        </section>
        <div class="m-3">
            <h3>{{name}}</h3>
            <p>
                <date><b>Birthday:</b> {{birthdate}}</date>{{birthplace}}<br>
                <date><b>Deathday:</b> {{deathdate}}</date>{{deathplace}}<br>
                <b>Nationality:</b> {{nationality}}<br>
                <b>Occupation:</b> {{occupation}}
            </p>
        </div>

        <hr>

        <div class="m-2">

            <ul class="list-group">
                <h3>Known for:</h3>
                {{#each known_for}}
                <li class="list-group-item">
                    {{this}}
                </li>
                {{/each}}
            </ul>
        </div>


        <hr>

        <div class="m-2">
            <h3>Education:</h3>
            {{#each education}}
            <p>Degree: {{degree}}<br>
                Field: {{field}}<br>
                Institution: {{institution}}<br>
                Year: <date>{{year}}</date>
            </p>
            {{/each}}
        </div>


        <hr>

        <div class="m-2">

            <ul class="list-group">
                <h3>Notable publications:</h3>
                {{#each notable_publications}}
                <li class="list-group-item">
                    <b>Title:</b> {{title}} <b>Publisher:</b> {{publisher}} <b>Year:</b> {{year}}
                </li>
                {{/each}}
            </ul>
        </div>


        <hr>

        <div class="m-2">

            <ul class="list-group">
                <h3>Partners:</h3>
                {{#each partners}}
                <li class="list-group-item">
                    <b>Name:</b> {{name}} <b>Relationship:</b> {{relationship}} <b>Year:</b> {{years}}
                </li>
                {{/each}}
            </ul>
        </div>


        <hr>

        <div class="m-2">
            <h3>Awards:</h3>
            {{#each awards}}
            <p class="text-center">
                Title: {{title}}<br>
                Description: {{description}}<br>
                <date>Year: {{year}}</date>
            </p>
            {{/each}}
        </div>


        <hr>

        <div class="m-2">

            <ul class="list-group">
                <h3>Influences:</h3>
                {{#each influences}}
                <li class="list-group-item">
                    {{this}}
                </li>
                {{/each}}
            </ul>
        </div>


        <hr>

        <div class="m-2">

            <ul class="list-group">
                <h3>Influenced:</h3>
                {{#each influenced}}
                <li class="list-group-item">
                    {{this}}
                </li>
                {{/each}}
            </ul>
        </div>


        <hr>

        <div class="m-2">

            <ul class="list-group">
                <h3>Quotes:</h3>
                {{#each quotes}}
                <li class="list-group-item">
                    {{this}}
                </li>
                {{/each}}
            </ul>
        </div>


        <hr>

        <div class="m-2">
            <h3>Major discoveries:</h3>
            {{#each major_discoveries}}
            <p class="text-center">
                <b>{{title}}</b><br>
                {{description}}<br>
                <date>{{year}}</date>
            </p>
            {{/each}}
        </div>

    </main>

</div>