<div class="ms-1">
  <main>
    <h2>{{make}} {{model}} {{year}}</h2>
    <p>Color: {{color}}</p>
    <hr>
    {{#with features}}
    <div>
      <p class="text-center text-uppercase"><b>Interior:</b></p>{{#with interior}}
      <hr>
      <div class="m-2">
        <p> Seats:{{#with seats}}<br>
          Material:{{material}}<br>
          Color: {{color}}<br>
          Heated: {{#if heated includeZero=true}}yes{{else}}no{{/if}}<br>
          Ventilated: {{#if ventilated includeZero=true}}yes{{else}}no{{/if}}</p>
        <hr>
        {{/with}}
        <p>Dashboard:{{#with dashboard}}<br>
          Materail:{{material}}<br>
          Color: {{color}}<br>
          Dispay: {{#with display}}
          Type: {{type}}<br>
          Size: {{size}}<br>
          Resolution: {{resolution}}<br>
          Touchscreen: {{#if touchscreen includeZero=true}}yes{{else}}no{{/if}}</p>
        <hr>
        {{/with}}
        {{/with}}
        <p> Audio:{{#with audio}}<br>
          System:{{system}}<br>
          Speakers: {{speakers}}<br>
          Subwoofer: {{#if subwoofer includeZero=true}}yes{{else}}no{{/if}}<br>
          Bluetooth: {{#if bluetooth includeZero=true}}yes{{else}}no{{/if}}<br>
          USB: {{#if USB includeZero=true}}yes{{else}}no{{/if}}</p>
        <hr>
        {{/with}}
        {{/with}}
      </div>
      <p class="text-center text-uppercase"><b>Exterior:</b></p>{{#with exterior}}
      <hr>
      <div clas="m-2">
        <p> Wheels:{{#with wheels}}<br>
          Size:{{size}}<br>
          Type: {{type}}<br>
          Color: {{color}}</p>
        <hr>
        {{/with}}
        <p>Headlights:{{#with headlights}}<br>
          Type:{{type}}<br>
          Brightness: {{brightness}}<br>
          Automatic: {{#if automatic includeZero=true}}yes{{else}}no{{/if}}</p>
        <hr>
        {{/with}}

        <p>Sunroof:{{#with sunroof}}<br>
          Type:{{type}}<br>
          Size: {{size}}<br>
          Automatic: {{#if automatic includeZero=true}}yes{{else}}no{{/if}}</p>
        <hr>
        {{/with}}
        {{/with}}
      </div>
      <p class="text-center text-uppercase"><b>Safety:</b></p>{{#with safety}}
      <hr>
      <div class="m-2">
        <p>Airbags:{{#with airbags}}<br>
          Front:{{front}}<br>
          Side: {{side}}<br>
          Knee: {{knee}}<br>
          Rear: {{rear}}</p>
        <hr>
        {{/with}}
        <p>Assistance:{{#with assistance}}<br>
          Blind spot monitoring: {{#if blind_spot_monitoring includeZero=true}}yes{{else}}no{{/if}}<br>
          Rear cross traffic alert: {{#if rear_cross_traffic_alert includeZero=true}}yes{{else}}no{{/if}}<br>
          Lane departure warning: {{#if lane_departure_warning includeZero=true}}yes{{else}}no{{/if}}<br>
          Adaptive cruise control: {{#if adaptive_cruise_control includeZero=true}}yes{{else}}no{{/if}}<br>
          Collision warning: {{#if collision_warning includeZero=true}}yes{{else}}no{{/if}}</p>
        <hr>
        {{/with}}
        {{/with}}

        {{/with}}
      </div>
      <p class="text-center text-uppercase"><b>Engine:</b></p> {{#with engine}}
      <hr>
      <div class="m-2">
        <p> Type: {{type}}<br>
          Displacement: {{displacement}}<br>
          Horsepower: {{horsepower}}<br>
          Torque: {{torque}}<br>
          Transmission: {{#with transmission}}<br>
          Type: {{type}}<br>
          Gears: {{gears}}</p>
        <hr>

        {{/with}}
        {{/with}}
        <p>Fuel economy: {{#with fuel_economy}}<br>

          City: {{city}}<br>
          Highway: {{highway}}<br>
          Combined: {{combined}}</p>
        <hr>

        {{/with}}
      </div>
      <p class="text-center text-uppercase"><b>Price:</b></p> {{#with price}}
      <hr>
      <div class="m-2">
        <p>base: {{base}}<br>
          destination: {{destination}}<br>
          options: {{#with options}}<br>
          navigation: {{navigation}}<br>
          moonroof: {{moonroof}}<br>
          premium_paint: {{premium_paint}}</p>
        <hr>
        {{/with}}
        <p>total: <b>{{total}}</b></p>
        <hr>
      </div>
      {{/with}}
  </main>
</div>