<div>
  <h2>{{name}} </h2>
  User: {{#each users}}
  <ul class="list-group m-2">
    <li class="list-group-item">
      {{id}}<br>
      {{name}}<br>
      {{gender}}<br>
      {{age}}<br>

      Friends:{{#each friends}}
      <ul class="list-group m-2">
        <li class="list-group-item">
          {{> id_name}}

          mutual_friends:{{#each mutual_friends}}
          <ul class="list-group m-2">
            <li class="list-group-item">
              {{> id_name}}
            </li>
          </ul>
          {{/each}}

          {{> groups}}
        </li>
      </ul>
      {{/each}}

      {{> groups}}
    </li>
  </ul>
  {{/each}}

</div>