<div class="m-2">

  <h2>{{name}}</h2>
  <p>Description: {{description}}<br>
    History:{{#with history}} Founder: {{founder}}, year: {{year}}{{/with}}</p>
  <h3>Types</h3>
  {{#each types}}
  <div class="m-2">
    <ul>
      <li>
        {{this}}
      </li>
    </ul>
  </div>
  {{/each}}

  <hr>
  <h3>Syntax</h3>
  {{#with syntax}}
  <p>Veriables: {{variables}}<br>
    Functions: {{functions}}<br>
    Conditionals: {{conditionals}}<br>
    Loops: {{loops}}<br>
    Classes: {{classes}}</p>
  {{/with}}

  <hr>
  <h3>Features</h3>
  <div class="m-2">
    {{> list data=features}}
  </div>

  <hr>
  <h3>Libraries</h3>
  <div class="m-2">
    {{> list data=libraries}}
  </div>

  <hr>

  <h3>Tools</h3>
  <div class="m-2">
    {{> list data=tools}}
  </div>

  <hr>
  <h3>Community</h3>
  {{#each community}}
  <div class="m-2">
    <ul>
      <li>
        Name: {{name}}<br>
        Type: {{type}}
      </li>
    </ul>
  </div>
  {{/each}}
</div>