<div class="m-2">
  <h2>{{name}} </h2>
  <p>Description: {{description}}<br>
    Price: {{price}}</p>
  Category: {{category}}
  Features:{{#with features}}<br>
  <hr>
  <div class="m-2">
    <p>Processor:{{#with processor}}</p>
    <p>brand:{{brand}}<br>
      model:{{model}}<br>
      speed: {{spee}}<br>
      cores: {{cores}}<br>
      cache: {{cache}}</p>
    <hr>
    {{/with}}

    <p>memory:{{#with memory}}</p>
    <p>type:{{type}}<br>
      size: {{size}}<br>
      speed: {{speed}}</p>
    <hr>
    {{/with}}

    <p>storage: {{#with storage}}</p>
    <p>type: {{type}}<br>
      size: {{size}}</p>
    <hr>
    {{/with}}

    <p>display: {{#with display}}</p>
    <p>Size: {{size}}<br>
      resolution: {{resolution}}<br>
      technology: {{technology}}<br>
      color_space: {{color_space}}<br>
      brightness: {{brightness}}<br>
      refresh_rate: {{refresh_rate}}</p>
    <hr>
    {{/with}}

    <p>Graphics: {{#with graphics}}</p>
    <p>brand: {{brand}}<br>
      model: {{model}}<br>
      memory: {{memory}}</p>
    <hr>
    {{/with}}

    <p>ports: {{#each ports}}</p>
    <ul>
      <li>
        type: {{type}}<br>
        count: {{count}}<br>
        {{#each features}}
        <ul>
          <li>
            {{this}}
          </li>
        </ul>

        {{/each}}
      </li>
    </ul>

    {{/each}}
    <hr>

    <p>battery: {{#with battery}}</p>
    <p>type: {{type}}<br>
      capacity: {{capacity}}<br>
      life: {{life}}</p>
    <hr>
    {{/with}}

    <p>weight: {{weight}}</p>
    <hr>

    <p>dimensions: {{#with dimensions}}</p>
    <p>height: {{height}}<br>
      width: {{width}}<br>
      depth: {{depth}}</p>
    <hr>
    {{/with}}

    <p>operating_system: {{operating_system}}</p>
    <hr>

    <p>accessories: {{#each accessories}}</p>
    <ul>
      <li>
        {{name}}<br>
        {{price}}
      </li>
    </ul>
    {{/each}}
    <hr>

    {{/with}}
  </div>
</div>