<div>
  <h2>{{name}} </h2>
  <p>Description: {{description}}<br>
    Price: {{price}}</p>
  Category: {{category}}
  Features:{{#with features}}<br>
  <hr>
  <div>
    Processor:{{#with processor}}<br><br>
    brand:{{brand}}<br>
    model:{{model}}<br>
    speed: {{spee}}<br>
    cores: {{cores}}<br>
    cache: {{cache}}<br>
    <hr>
    {{/with}}

    memory:{{#with memory}}<br><br>
    type:{{type}}<br>
    size: {{size}}<br>
    speed: {{speed}}<br>
    <hr>
    {{/with}}

    storage: {{#with storage}}<br><br>
    type: {{type}}<br>
    size: {{size}}<br>
    <hr>
    {{/with}}

    display: {{#with display}}<br><br>
    Size: {{size}}<br>
    resolution: {{resolution}}<br>
    technology: {{technology}}<br>
    color_space: {{color_space}}<br>
    brightness: {{brightness}}<br>
    refresh_rate: {{refresh_rate}}<br>
    <hr>
    {{/with}}

    graphics: {{#with graphics}}<br><br>
    brand: {{brand}}<br>
    model: {{model}}<br>
    memory: {{memory}}<br>
    <hr>
    {{/with}}

    ports: {{#each ports}}<br><br>
    <ul>
      <li>
        type: {{type}}<br>
        count: {{count}}<br>
        {{#each features}}
        <ul>
          <li>
            {{this}}
          </li>
        </ul>

        {{/each}}
      </li>
    </ul>

    {{/each}}
    <hr>

    battery: {{#with battery}}<br><br>
    type: {{type}}<br>
    capacity: {{capacity}}<br>
    life: {{life}}<br>
    <hr>
    {{/with}}

    weight: {{weight}}<br><br>
    <hr>

    dimensions: {{#with dimensions}}<br><br>
    height: {{height}}<br>
    width: {{width}}<br>
    depth: {{depth}}<br>
    <hr>
    {{/with}}

    operating_system: {{operating_system}}<br><br>
    <hr>

    accessories: {{#each accessories}}<br><br>
    <ul>
      <li>
        {{name}}<br>
        {{price}}
      </li>
    </ul>
    {{/each}}
    <hr>

    {{/with}}
  </div>
</div>