{{#each goodsBlock}}

<div class="card mt-4">
    <div class="row align-items-center">
        <div class="col-2 p-4">
            <img class="card-img-top" src="{{image}}">
        </div>
        <div class="col-4">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
        </div>
        <div class="col-2">
            {{#with price}}
            <p>{{title}}</p>
            <p>{{value}}</p>
            {{/with}}
        </div>
        <div class="col-2">

            <p>{{amount}}</p>
        </div>
        <div class="col-2">
            <div class="row">
                {{#each buttons}}
                <div class="p-3">
                    {{#if isPrimary}}<a class="btn btn-primary">{{text}}</a>{{/if}}
                    {{#if isDanger}}<a class="btn btn-outline-danger">{{text}}</a>{{/if}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{/each}}