<div class="card">

    <div class="card m-3">

        <div class="card-header">
            {{#with title}}
            <p>{{userName}}</p>
            <p>{{caption}}</p>
            <p>{{date}}</p>
            {{/with}}
        </div>

        <div class="card-body">
            {{#with reviewBody}}

            {{#with seller}}
            <p>{{title}}: {{value}}</p>
            {{/with}}

            {{#with rating}}
            <p>{{title}}: {{value}}</p>
            {{/with}}

            <p>{{text}}</p>

            {{#with advantages}}
            <p>{{title}}:</p>
            <p>{{text}}</p>
            {{/with}}

            {{#with disadvantages}}
            <p>{{title}}:</p>
            <p>{{text}}</p>
            {{/with}}
            {{#each images}}
            <img src="{{this}}">
            {{/each}}
            {{/with}}
        </div>

    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            {{#with reviewBody}}

            {{#each coments}}
            <div class="card m-3 p-1">

                <h5>{{userName}}</h5>
                <p>{{date}}</p>
                <p>{{text}}</p>

            </div>
            {{/each}}

            {{/with}}
        </div>
    </div>
</div>